<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_save_before">
        <observer name="sales_order_invoice_save_before_fooman_sameorderinvoicenumber_observer"
                  instance="Fooman\SameOrderInvoiceNumber\Observer\InvoiceObserver"/>
    </event>
    <event name="sales_order_shipment_save_before">
        <observer name="sales_order_shipment_save_before_fooman_sameorderinvoicenumber_observer"
                  instance="Fooman\SameOrderInvoiceNumber\Observer\ShipmentObserver"/>
    </event>
    <event name="sales_order_creditmemo_save_before">
        <observer name="sales_order_creditmemo_save_before_fooman_sameorderinvoicenumber_observer"
                  instance="Fooman\SameOrderInvoiceNumber\Observer\CreditmemoObserver"/>
    </event>
</config>
